@inherits Umbraco.Web.Mvc.UmbracoViewPage
    
<div class="header-container">
    <nav class="min-nav">
        <a class="min-link" href="https://localhost:44312/sdks/">SDK'S</a>
        <a class="min-link" href="https://localhost:44312/pricing/">Pricing</a>
        <a class="min-link" href="https://localhost:44312/contact/">Contact</a>
        <a class="min-link" href="https://localhost:44312/login">Sign In</a>
        <!--<a class="min-link" href="https://localhost:44312/sign-up/">Sign Up</a>-->
        <!--<a class="min-link" href="https://localhost:44312/products/">Products</a>-->
    </nav>
    </div>
