@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
}

@* the fun starts here *@

        <dialog class="min-dialog" style="margin:auto; border-radius:15px;" open>
            <h1 style="text-align:center; color:#5c245f;">Sign In</h1>
            @{ Html.RenderAction("RenderLogin", "Member"); }
            <br />
            <div style="width:100%; background-color:0;text-align:center; margin:auto; margin-top: 40px;">
                <a style="color:white;text-decoration:none; font-size:20px; " href="https://localhost:44312/sign-up/">Sign Up</a>
            </div>
        </dialog>

