@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@{
    Layout = null;
}

@* the fun starts here *@
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Dette er en opgave jeg har fået fra House Of Code.">
    <meta name="author" content="Christian Gundersen">

    <link rel="stylesheet" href=" ~/css/style.css" />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
    <!--Header-->
    @Html.Partial("~/views/partials/Header.cshtml")
    <!--Content-->
    @RenderBody()
    <!--Footer-->
    @Html.Partial("~/views/partials/Footer.cshtml")

</body>
</html>
